{% extends '::Email/en/000_base.html.twig' %}

{% block content %}

    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h1 class="header-title">ONAY REDDEDiLDİ</h1>
                <p class="strong">Değerli Migoda Otel Ortağı!</p>
                <p>Bay(an) {{ guest_name }}'in, {{ date_checkin }} - {{ date_checkout }} tarihleri için yaptığı rezervasyon talebinin reddini bildirdiniz. Reddinizi, Bay(an) {{ guest_name }}'e sistemimiz aracılığıyla ilettik.</p>
                <p>Eviniz/oteliniz için talep edilen tarihlerde müşteri hayal kırıklıklarını önlemek için, lütfen Extranet Takviminizi düzenlediğinizden emin olun.</p>
                <p>Teşekkür ederiz!</p>
                <p>Saygilarımızla,</p>
                <p>Migoda Ekibiniz</p>
            </div>
        </td>
    </tr>

{% endblock %}