/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
cron_error.txt
npm-debug.log
yarn-error.log
/.vscode
/.idea
.DS_Store
*/.DS_Store
/resources/views/admin/HTML
public/uploads/files
public/uploads/images
patches/
bootstrap/cache
/public/uploads/
/public/mix-manifest.json
/public/front/assets/js/vendor-scripts.js
/public/front/assets/js/migoda-scripts.js
/public/front/assets/js/migoda-notifications.js
/public/front/assets/css/oldstyles_bundled.css
/public/front/assets/css/migoda-styles.css
/public/admin/assets/css/app.css
## Map files
/public/mix.js.map
/public/manifest.js
/public/manifest.js.map
/public/vendor.js
/public/vendor.js.map
/public/admin/assets/css/*.css.map
/public/admin/assets/scss/*.css.map
/public/front/assets/css/*.css.map
/public/front/assets/js/*.js.map

