{% extends '::Email/en/000_base.html.twig' %}

{% block content %}

    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h1 class="header-title">Hallo Murat!</h1>
                <h2 class="header-subtitle">Sie sind fast fertig, um Ihre Migoda Reise zu beginnen ....</h2>
                <h3 class="header-subsubtitle">Klicken Sie auf den Button unten, um Ihre E-Mail-Adresse zu bestätigen und Ihr Migoda-Konto zu aktivieren.</h3>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                   style="border-collapse:separate;width:100%;line-height:100%;">
                <tr>
                    <td align="center" bgcolor="#fa3440" role="presentation" style="border:none;border-radius:10px;cursor:auto;height:25px;padding:10px 25px;background:#fa3440;"
                        valign="middle"><a href="#" style="background:#fa3440;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:16px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
                                           target="_blank">Konto aktivieren</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <p class="note-text">* Wenn Sie dies aus Versehen erhalten oder nicht erwartet haben, ignorieren Sie bitte diese E-Mail.</p>
            </div>
        </td>
    </tr>

{% endblock %}