{% extends '::Email/en/000_base.html.twig' %}

{% block content %}

    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h1 class="header-title">BESTÄTIGUNG ABGELEHNT</h1>
                <p class="strong">Sehr geehrter Migoda Hotel Partner!</p>
                <p>Wir haben Ihre Ablehnung für die Buchung von Herrn {{ guest_name }} mit den Daten {{ date_checkin }} - {{ date_checkout }} erhalten. Diese Absage haben wir Herrn {{ guest_name }} schon über unser System mitgeteilt.</p>
                <p>Bitte stellen Sie sicher, dass Sie Ihren Extranet-Kalender verwalten, um Enttäuschungen von Kunden bezüglich Datumsanfragen für Ihr Haus zu vermeiden.</p>
                <p>Vielen Dank!</p>
                <p>Mit freundlichen Grüßen,</p>
                <p>Ihr Migoda Team</p>
            </div>
        </td>
    </tr>

{% endblock %}