.stars {
    width: 8rem;
    height: 1.8rem;
    overflow: hidden;
    margin-bottom: 0.6rem;
}

.stars.stars_1 {
    width: 1.6rem;
}

.stars.stars_2 {
    width: 3.2rem;
}

.stars.stars_3 {
    width: 4.8rem;
}

.stars.stars_4 {
    width: 6.4rem;
}

.stars.stars_5 {
    width: 8rem;
}

.stars span {
    background: url("../images/svg/stars.svg") no-repeat center left transparent;
    background-size: 8rem;
    width: 8rem;
    display: block;
    height: 1.8rem;
}
