{% extends '::Email/en/000_base.html.twig' %}

{% block content %}

    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h1 class="header-title">Migoda'ya hoşgeldin, {{ name }}</h1>
                <h3 class="inner-step">1</h3>
                <h3 class="inner-title">Kayıt ol</h3>
                <p>Kuponunuzu ya mevcut hesabınıza giriş yaparak ya da yeni müşteriyseniz, yeni bir hesap oluşturarak kaydedin. Daha sonra Kuponunuzu kullanmaya başlayabilirsiniz.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h3 class="inner-step">2</h3>
                <h3 class="inner-title">1 Kupon 1 Gece</h3>
                <p>Bir otel kuponu, otelde iki kişi bir gece konaklamanıza olanak tanır. Sadece otel tarafından sağlanan yemek paketi ve otele kadar olan seyahat masraflarınızı ödemeniz gerekir. Ücretsiz oda tahsis etme kararı, müsaitlik durumuna bağlı olarak otel tarafından verilir.</p>
                <p class="note-text">Kuponunuzun, sisteme kaydedildikten sonra 18 ay boyunca geçerli olduğunu unutmayınız.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h3 class="inner-step">3</h3>
                <h3 class="inner-title">Kupon Biriktir</h3>
                <p>Hesabınızda, daha uzun bir yolculukta kullanmak için <span class="strong">kupon biriktirebilir, kuponu sevdiklerinize aktarabilir veya sevdiğiniz birine hediye olarak verebilirsiniz.</span></p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h3 class="inner-step">4</h3>
                <h3 class="inner-title">Gidilecek Yer Keşfetin</h3>
                <p>Şimdi, <span class="strong">dünya çapında 1 yıldızdan 5 yıldıza, 40 ülkedeki 2.000+ otelimizden ücretsiz gece</span> deneyiminiz için en sevdiğiniz yeri seçebilirsiniz. Tercih ettiğiniz tarihleri ​​seçin ve bir rezervasyon isteği gönderin. Rezervasyon yaptığınız gece için yeterli Kuponunuz olduğundan emin olun. Rezervasyon yaptığınız her gece için bir Kupon kullanılıcaktır ve rezervasyonunuzun kesinleşmesinden sonra kuponunuz hesabınızdan silinecektir. Otelden onay alınması, 24 saat ila 48 saat arasında sürebilir.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0;padding-bottom:0;word-break:break-word;">
            <div style="font-family:Arial, sans-serif;font-size:16px;line-height:1;text-align:left;color:#6d6f7e;">
                <h3 class="inner-step">5</h3>
                <h3 class="inner-title">Konaklamanızın tadını çıkarın!</h3>
                <p>Otel tarafından onay aldıktan sonra rezervasyonunuzu kesinleştirmek için bizden bir bildirim alacaksınız. Ödeme yapmanız istenecek. Ödemenizi yaptıktan sonra otel konaklamanızın tadını çıkarabilirsiniz.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                   style="border-collapse:separate;width:100%;line-height:100%;">
                <tr>
                    <td align="center" bgcolor="#fa3440" role="presentation"
                        style="border:none;border-radius:10px;cursor:auto;height:25px;padding:10px 25px;background:#fa3440;"
                        valign="middle"><a href="#"
                                           style="background:#fa3440;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:16px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
                                           target="_blank">Gidilecek Yerler Keşfet</a></td>
                </tr>
            </table>
        </td>
    </tr>

{% endblock %}