<h3>Your reservation is approved!</h3>

Hi {{ name }}! Your reservation is canceled!<br/>

To login, go to: <a href="{{ url('homepage') }}">migoda</a>.<br/>

Thanks!<br/><br/>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('bundles/app/images/migoda.png')) }}">